<h1 style="#color:#666666;"> <%=@artist.name %> </h1>
<td class="col-md-10"> <%= image_tag(@artist.image_url, class: 'img-thumbnail img-responsive') %> </td>
<h2> <%=@artist.description %> </h2>













<div class="well">
    <%= link_to "Back to All Artists", artists_path, class: "btn btn-lg btn-default"%>
</div>
